.App {
  font-family: sans-serif;
  
  
  
  
}
.moviePoster{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 2px;
}
.movieContainer{
  width: 250px;
  height: max-content;
  background-color: rgb(194, 194, 194);
  padding: 5px;
  border-radius: 5px;
}
.name-rating{
  display: flex;
  justify-content: space-between;
  align-items: center
  
}
.movieName{
  margin: 0;
  
}
.movieSummary{
  margin-top: 0px;
}
.movieRating{
  font-size: 16px;
}
.movieList{
  display: flex;
  gap:5px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.counterContainer{
  display: flex;
  gap: 10px;
}
.likeDislike{
  font-size: 15px;
  padding: 3px;
  border-radius: 5px;
  border-color: yellow;
}
.ColorBar{
  margin-top: 10px;
  border-radius: 5px;
}
.addMovie{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin: 50px;

}
.colorContainer{
  display: flex;
  justify-content: space-around;

}
.home{
  display: flex;
  justify-content: center;
}
.colorBox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
.ColorBarOuter{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.err{
  display: flex;
  justify-content: center
}
.trailerSummary{
  max-width: 800px;
  padding: 24px;
}