.App {
  font-family: sans-serif;
  
  
  
  
}
.moviePoster{
  width: 240px;
  height: 250px;
  object-fit: cover;
  border-radius: 2px;
  
}
.movieContainer{
  width: 250px;
  height: min-content;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  padding: 5px;
  border-radius: 5px;
  transition: transform .1s;
  margin: 5px auto;

}
.movieContainer:hover{
  
  height: min-content ;
  transform:scale(102%);
  
}
.name-rating{
  display: flex;
  justify-content: space-between;
  align-items: center
  
}
.movieName{
  margin: 0;
  
}
.movieSummary{
  margin-top: 0px;
}
.movieRating{
  font-size: 16px;
}
.movieList{
  display: flex;
  gap:5px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.counterContainer{
  display: flex;
  justify-content: center;
  padding: 10px;

  gap: 10px;
}
.likeDislike{
  font-size: 15px;
  padding: 3px;
  border-radius: 5px;
  border-color: yellow;
}
.ColorBar{
  margin-top: 10px;
  border-radius: 5px;
}
.addMovie{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin: 50px;

}
.colorContainer{
  display: flex;
  justify-content: space-around;

}
.home{
  display: flex;
  justify-content: center;
}
.colorBox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}
.ColorBarOuter{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.err{
  display: flex;
  justify-content: center
}
.trailerSummary{
  max-width: 800px;
  padding: 24px;
}
.router{
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
  gap:10px;
  flex-wrap: nowrap;
  
  font-size: 25px;
  letter-spacing: 2px;
  color: #e3ffe7;
  

}
body{
  background: #44A08D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #093637, #44A08D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #093637, #44A08D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


  
  
}

